@charset "UTF-8";

body    {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}
div#interface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 70px;
}
header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
}

/* FORMATAÇÃO DE IMAGENS COM LEGENDAS */
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 3px black;
}
figure.foto-legenda img {
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/* FORMATAÇÃO DO MENU */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 4px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060;
}
nav#menu h1 {
    display: none;    
}
nav#menu a{
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color:white;
}



