@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf"); 
}
/*  DICA: consulte o site do "www.google.com/fonts"  */

body {
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}
div#interface{
    width: 900px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
header#cabecalho img#icone {
    position: absolute;
    left: 780px;
    top: 70px;
}
header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg")no-repeat 0px 80px;
}
header#cabecalho h1 {
    font-family: 'FonteLogo',Arial, Helvetica, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* FORMATAÇÃO DE IMAGENS COM LEGENDAS */
figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 3px black;
}
figure.foto-legenda img {
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/* FORMATAÇÃO DO MENU */
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 300px;
}
nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 4px;
    transition: background-color 1s;
}
nav#menu li:hover {
    background-color: #606060;
}
nav#menu h1 {
    display: none;    
}
nav#menu a{
    color: black;
    text-decoration: none;
}
nav#menu a:hover {
    color:white;
}

/* CONFIGURAÇÃO DA TELA */

section#corpo {
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}
table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
}
aside#lateral {
    display: block;
    width: 350px;
    float: right;
}
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}
footer#rodape p{

}


