@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
p{
    text-align: justify;
    text-indent: 20px;
}
article h1 {
    font-size: 15pt;
    color: #ffffff;
    background-color: rgba (0,0,0,.3);
    margin: 0px;
}
article h2{
    font-size: 13pt;
    color: #888888;
    margin: 0px;
}
article{
    margin-bottom: 800px;
}
img.img-dir {
    display: block;
    float: right;
    margin-left: 5px;
}
section#conteudo {
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 401px;
    height: 280px;
    border: none;
    overflow: hidden;
}
iframe#frame-spec ::-webkit-scrollbar{
    display: none;
}

